body {
    font-family: fantasy;
    font-size: bold;
    text-align: center;
}

#grid-container{
    width: 600px;
    height: 600px;
    border: 12px solid #f1bce8;
    background-color: #84b78a;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: 190px;
    height: 190px;
    border: 5px solid #99d2d7;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flag-button{
    width: 100px;
    height: 75px;
    font-size: 50px;
    background-color:	#f1bce8;
    border: none;
}
