body {
    font-family: fantasy;
    font-size: bold;
    text-align: center;
}

#grid-container{
    width: 600px;
    height: 600px;
    border: 12px solid #f1bce8;
    background-color: #84b78a;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: 50px;
    height: 65px;
    border: 5px solid #99d2d7;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flag-button{
    width: 100px;
    height: 75px;
    font-size: 50px;
    background-color:	#f1bce8;
    border: none;
}

.bomb{
    font-size: 25px;
    text-align: center;
    
}
.open-empty-cell {
    background-color: lightgray; /* Change this to your desired color */
}

.n1{
    color: blue
}
.n2{
    color: goldenrod
}
.n3{
    color: orange
}
.n4{
    color: navy
}
.n5{
    color: brown
}
.n6{
    color: purple
}
.n7{
    color: black
}
.n8{
    color: red
}


